<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.NimbleDevelopment.EleccionesliceoGalois"
	version 	= "1.0.0">

	<name>Elecciones Liceo Galois</name>

	<description>
		Con esta Aplicación Votar en las elecciones del Liceo galois.
	</description>

	<author href="https://www.facebook.com/josekrlos029"
		email="josekrlos029@hotmail.com">
		José Carlos Jimenez Montenegro 
	</author>

<preference name="phonegap-version" value="2.9.0" />
<preference name="orientation" value="landscape" />
	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
                <gap:platform name="ios" />
	</gap:platforms>

	<icon src="icono.png" gap:role="default" />
	<icon src="icono.png" width="96" height="96" />
	<icon src="icono.png" width="72" height="72" />
	<icon src="icono.png" width="48" height="48" />
	<icon src="icono.png" width="36" height="36" />

    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

	<feature name="http://api.phonegap.com/1.0/network"/>
        <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>